.nav-pills .nav-link:hover {
    background-color: #8DCDE6;
    border: none;
    color: black;
    text-align: center;
    font-size: 14px;
    transition: background-color ease-out 0.5s;
}

.footer-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(252, 252, 252);
    color: rgb(0, 0, 0);
    text-align: center;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.nav-link .active .text-white {
    background-color: #21A3BD;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.btn .btn-primary {
    color: #21A3BD;
}

.card .mb-3 .col-sm col-sm {
    box-shadow: 4px -1px 57px -10px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow: 4px -1px 57px -10px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 4px -1px 57px -10px rgba(0, 0, 0, 0.65);
}

.card {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.card h3 {
    font-weight: 600;
}

.card img {
    position: absolute;
    top: 20px;
    right: 15px;
    max-height: 120px;
}

.card-1 {
    background-image: url(../img/mentee.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card-2 {
    background-image: url(../img/mentor.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card-3 {
    background-image: url(../img/match\ ratio.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

@media(max-width: 990px) {
    .card {
        margin: 20px;
    }
}